@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600,700);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #544837;
  font-size: 16px;
  line-height: 26px;
}

button {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.title {
  color: #2f281e;
}
.header {
}
.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
.logo {
}
.logo__img {
}
.menu {
  margin-left: auto;
}
.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  margin-left: 24px;
}
.menu__list-link {
  color: #2f281e;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}
.user-nav {
  margin: 0 13px 0 52px;
}
.user-nav__link {
  color: #173456;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 11px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
.user-nav__link + .user-nav__link {
  margin-left: 14px;
  border-color: transparent;
  background-color: #ff9900;
  color: #fff;
}

.top {
}
.top__inner {
  padding: 133px 0 80px;
  background: url(/images/bg_top.svg) no-repeat center right;
}
.top__title {
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 460px;
  font-weight: bold;
}
.top__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
  max-width: 460px;
}
.top__btn {
  display: inline-block;
  background-color: #ff9900;
  padding: 15px 41px 14px;
  margin-right: 30px;
  color: #fff;
  border-radius: 4px;
}
.top__link {
  display: inline-block;
  color: #ff9900;
  line-height: 24px;
  font-weight: 600;
  padding-left: 25px;
  position: relative;
  text-decoration: underline;
}
.top__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 19px;
  background-image: url(/images/btn_watch.svg);
}

.tools {
  padding-top: 110px;
}
.tools__title {
  text-align: center;
  max-width: 540px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin: 0 auto 46px;
  padding: 0 10px;
}
.tools__inner {
  padding-bottom: 95px;
  background: url(/images/bg_tools.png) no-repeat bottom center;
  background-size: cover;

}
.tools__items {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0;
  margin-bottom: 60px;
}
.tools__item {
  width: 240px;
}
.tools__item-img {
  margin-bottom: 30px;
}
.tools__item-title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 13px;
}
.tools__item-text {
}

.tools__link {
  padding: 15px 32px 14px;
  background-color: #ff9900;
  display: block;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  width: 173px;
  text-transform: uppercase;
  margin: 0 auto;
}

.direction {
  padding: 100px 0 50px;
}

.direction__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.direction__item-content {
  max-width: 486px;
}
.direction__item-pretitle {
  margin-bottom: 22px;
}
.direction__item-title {
  font-size: 36px;
  height: 54px;
  font-weight: 700;
  margin-bottom: 8px;
}
.direction__item-title-text {
  margin-bottom: 30px;
}
.direction__item-text {
  margin-bottom: 25px;
}
.direction__item-subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}
.direction__item-img {
}

.direction__list {
}
.direction__list-item {
  padding-left: 65px;
  position: relative;
  margin-bottom: 30px;
}

.direction__list-item::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url(/images/group.svg);
}

.team {
  background: url(/images/Bg-team.svg) no-repeat top center;
  background-size: cover;
  margin-bottom: 36px;

}
.team__inner {
  padding: 230px 0 380px;
  position: relative;
}
.team__item {
  position: absolute;
  width: 98px;
  height: 98px;
}
.team-item--1 {
  top: 157px;
  right: 95px;
}
.team-item--2 {
  bottom: 257px;
  right: 0;
}
.team-item--3 {
  bottom: 135px;
  right: 300px;
}
.team-item--4 {
  bottom: 223px;
  left: 208px;
}
.team-item--5 {
  top: 223px;
  left: 0;
}

.team__iten-img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.team__item-text {
  background-color: #fff;
  padding: 14px 20px 15px;
  border-radius: 26px;
  color: #2f281e;
  box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
  position: absolute;
  right: 71px;
  top: -35px;
  white-space: nowrap;
}

.team__item-text.team__item-text--left{
    right: auto;
    top: -41px;
    left: 62px;
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::after,
.team__item-text--left::before {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
  width: 17px;
  height: 17px;
  bottom: -7px;
  right: 30px;
}
.team__item-text--right::before,
.team__item-text--left::before {
  width: 9px;
  height: 9px;
  bottom: -20px;
  right: 9px;
}
.team__item-text--left::after {
  bottom: -7px;
  left: 30px;
}
.team__item-text--left::before {

    bottom: -16px;
    left: 16px;
}


.team__box {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}
.team__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 22px;
}
.team__text {
  margin-bottom: 45px;
  color: #567592;
}
.team__btn {
  padding: 15px 30px;
  color: #fff;
  background-color: #ff9900;
  border-radius: 4px;
}


.marketing {
    padding: 30px 0 120px;
 }
.marketing__title {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
    margin-bottom: 9px;
 }
.marketing__subtitle {
    color: #544837;
    margin-bottom: 55px;
}

.marketing__subtitle { }
.slider { }
.slider__item { }
.slider__item-img { }
.slider__item-info { }
.slider__item-author { }
.slider__item-title { }